/* reussables */

.flex-row-wrap-evenly-centre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.flex-wrap-row-evenly{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-wrap-column-evenly-center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.lato{
    font-family: "Lato", sans-serif;
}

.montserrat{
    font-family: "Montserrat", sans-serif;
}

.white{
    color: white;
}

.salmon{
    color: #FFB4D3;
}

.yellow{
    color: #FFC24C;
}

.purple{
    color: #D387F7;
}

.blue{
    color: #77E6FF
}

.dark-bleu{
    color: #23C9DE
}

.beige{
    color: #FF9E9E;
}

.grey{
    color: #707F8D;
}

/* setup */

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #0a1117;
}

/* navbar */

nav{
    height: 8vh;
    position: sticky;
    top: 0;
    background-color: #0a1117;
}

.links{
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.links img{
    height: 45px;
    width: 246px;
}

.midden{
    display: flex;
    width: 33%;
    height: 8vh;
}

.midden div{
    color: white;
    width: 20%;
    height: 50%;
    text-align: center;
    align-content: center;
    border-radius: 25px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.midden div a{
    color: white;
    text-decoration: none;
}

.midden div:hover{
    background-color: #ffffffa3;
}

.rechts{
    height: 8vh;
    display: flex;
    width: 33%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.rechts div{
    background-color: #243241;
    width: 20%;
    height: 70%;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}

.rechts div a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

/* main content */

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.centre-content{
    width: 50%;
}

/* home */

.title-content{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.title-text{
    padding: 5px;
}

.title-text h1{
    color: #ffffff;
    font-size: 72px;
    font-weight: bold;
}

.title-subtext{
    padding: 5px;
}

.title-subtext p1{
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
}

.get-started-button{
    display: flex;
    padding: 5px;
    width: 20%;
    height: 8vh;
    flex-wrap: wrap;
    align-content: center;
}

.get-started-button div{
    background-color: #CEAAFF;
    height: 80%;
    width: 100%;
    text-align: center;
    align-content: center;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.arrow-title{
    display: flex;
    height: 10vh;
    flex-wrap: wrap;
    align-items: flex-end;
}

.arrow-title img{
    height: 21px;
    width: 20.5px;
}

/* learn */

.learn-content{   
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}


.learn-top{
    padding-top: 20px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.learn-top h1{
    color: #E5E5E5;
    font-size: 54px;
    font-weight: bold;
}

.stars-learn{
    height: 89.18px;
    width: 86px;    
}

.learn-middle-buttons{
    display: flex;
    background-color: #243241;
    width: 23%;
    height: 5vh;
    margin-top: 5px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.flex-wrap-row-evenly{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.learn-middle-buttons img{
    height: 10px;
}

.learn-bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

}

.img-undertitle{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-style: solid;
    position: relative;
    bottom: 31px;
    display: flex;
    height: fit-content;
    border-radius: 25px;
    width: 380px;
    background-color: #FFB4D3;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.learn-middle{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    align-items: center;
}

.learn-middle-text{
    color: #37424D;
    font-weight: bold;
    font-size: 54px;
}

.learn-middle-text-white{
    color: white;
    font-weight: bold;
    font-size: 54px;
}

.learn-middle-text-pink{
    color: #FFB4D3;
    font-weight: bold;
    font-size: 54px;
}

.two-stars-learn{
    width: 76.17px;
    height: 57px;
    position: relative;
    left: 300px;

}

.learn-middle-bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 54px;
    justify-content: space-around;
}

.learn-middle-bottom img{
    height: 53.17px;
    width: 66.96px;
    position: relative;
    bottom: 40px;
}

.spacing{
    height: 50px;
}


.learn-button-cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.learn-button-cards img{
   height: auto;
   width: 100%;
}

.learn-button-card{
    display: flex;
    height: 120px;
    width: 120px;
    border: #2A3744;
    border-style: solid;
    background-color: #121E28;
    border-radius: 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

.learn-button-card p{
    text-align: center;
    position: relative;
    color: white;
    top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
}

/* about */

.about-content{
    display: flex;
    flex-direction: column;

}

.about-top-title{
    font-size: larger;
    text-align: center;
    color: white;
}

.about-people-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-people-cards img{
    height: 17%;
    width: 17%;
}

.about-people-subtext{
    color: white;
    text-align: center;
}

.about-people-subtext p{
    font-weight: 700;
    font-size: 40px;
}

.about-weekly{
    background-color: #121E28;
    border: #2A3744;
    border-radius: 30px;
    border-style: solid;
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    border-width: 2px;
    align-items: center;
}

.about-weekly-title{
    color: white;
    font-weight: 700;
    font-size: 54px;
}

.about-weekly-subtext{
    color: #9AAFC3;
    font-weight: 600;
    font-size: 36px;
}

.about-weekly-form{
    display: flex;
    width: 101%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#weekly-email-input{
    border-color: #2A3744;
    border-radius: 2px;
    border-style: solid;
    background-color: #121E28;
    color: white;
    width: 450px;
    height: 50px;
    border-radius: 15px;
}

#weekly-email-input:focus{
    border-style: none;
}

#weekly-email-button{
    background-color: #CEAAFF;
    width: 170px;
    height: 54px;
    border-radius: 12px;
}

.about-press{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 30vh;
}

.about-press-title{
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.about-press-card{
    width: 28%;
    height: 30vh;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
}

.about-press-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-press-cards h1{
    font-size: 17px;
    font-weight: 700;
}

.about-press-cards p{
    font-size: 13px;
    font-weight: 600;
}

.about-press-cards img{
    height: 30px;
}

.about-press-card-decrypt{
    background-color: #77E6FF;
    padding: 15px;
}

.about-press-card-blockworks{
    background-color: #E2C1F9;
    padding: 15px;
}

.about-press-card-techcrunch{
    background-color: #DBE268;
    padding: 15px;
}

.about-press-cards-subtext{
    display: flex;
    align-items: center;
}

.about-press-cards-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 91%;
    justify-content: space-between;
}

.about-podcasts-title{
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.about-podcasts-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.about-podcasts-cards h1{
    color:white;
    font-size: 17px;
    font-weight: 700;
}

.about-podcasts-cards p{
    color: #E2E2E2;
    font-size: 13px;
    font-weight: 600;
}

.about-podcasts-cards img{
    height: 50px;
    width: 50px;
}


.about-podcast-card{
    background-color: #2A3744;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    border-width: 2px;
    width: 28%;
    height: 30vh;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    padding: 15px;
}

.about-podcasts-subtext{
    display: flex;
    align-items: center;
}

.about-podcasts-subtext img{
    height: unset;
    width: unset;
    /* alleen gedaan omdat de afbeelding
        een rare vorm heeft */
    position: relative;
    top: 4px;
}

.about-podcasts-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 91%;
    justify-content: space-between;
}

.footer-content{
    background-color: #121E28;
    height: 168px;
    justify-content: center;
}

.footer-links{
    display: flex;
    width: 25%;
    height: 8vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.footer-links div{
    color: white;
    width: 20%;
    height: 50%;
    text-align: center;
    align-content: center;
    border-radius: 25px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.footer-links div a{
    color: white;
    text-decoration: none;
}

.footer-buttons{
    width: 20%;
}

/* content pagina */
.contact-top{    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 50%;
}

.contact-top-text{
    font-weight: 700;
    text-align: center;
}

.contact-top-text h1{
    color: white;
    font-size: 54px;
}

.contact-top-text p{
    color: #5A6C7E;
    font-size: 48px;
}

.content-top-cards img{
    height: 52px;
    width: 52px;
}

.content-top-cards{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.content-top-cards .logo{
    padding-left: 20px;
}

.content-top-cards .text{
    padding-left: 20px;
}

.content-top-cards .titlw{
    font-size: 10px;
    font-weight: 700;
}

.content-top-cards .subtext{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.content-card{
    display: flex;
    justify-content: flex-start;
    width: 280px;
    height: 84px;
    align-items: center;
    border-radius: 10px;
}

.content-card-telegram{
    background-color: #FFC803;
}

.content-card-email{
    background-color: #E2C1F9;
}

.content-common{
    border: #2A3744;
    background-color: #121E28;
    border-width: 2px;
    border-style: solid;
    width: 100%;
}

.contact-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 110vh;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    border-radius: 20px;
}

.contact-form h1{
    color: white;
    font-size: 54px;
    font-weight: 700;
}

form{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.norm{
    height: 68px;
    margin: 5px;
    font-size: 20px;
    padding-left: 5px;
    color: white;
    border-radius: 15px;
}

.norm-o{
    color:#3D4C5B;
    width: 102%;
}

.norm::placeholder{
    color: #3D4C5B;
}

.bigger{
    height: 200px;
    font-weight: 500;
    padding-top: 15px;
    width: 100%;
}

.bigger::placeholder{
    color: #3D4C5B;
}

.contact-button{
    width: 175px;
    height: 68px;
    background-color: #CEAAFF;
    border-radius: 15px;
    margin-top: 15px;
    position: relative;
    left: 90%;
    font-weight: 600;
    font-size: 20px;
}